n8n/workflow_secret_scanning_to_sheets.json
{
  "name": "GitHub Secret Scanning Alerts -> Sheets (CVlad97)",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyDay",
              "hour": 3,
              "minute": 15
            }
          ]
        }
      },
      "id": "cron_1",
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        220,
        320
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{'https://api.github.com/users/' + $vars.GITHUB_OWNER + '/repos?per_page=100&type=owner&sort=updated'}}",
        "responseFormat": "json",
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $vars.GITHUB_PAT}}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "options": {}
      },
      "id": "http_list",
      "name": "GitHub - List Repos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        470,
        320
      ]
    },
    {
      "parameters": {
        "functionCode": "// Convert response array -> items\nconst arr = Array.isArray($json) ? $json : ($json.body ?? $json);\nif (!Array.isArray(arr)) throw new Error('Unexpected GitHub response shape');\nreturn arr.filter(r => !r.fork).map(r => ({ json: {\n  repo: r.name,\n  full_name: r.full_name,\n  api_url: r.url,\n  html_url: r.html_url\n}}));"
      },
      "id": "fn_split",
      "name": "Split Array",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        710,
        320
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{'https://api.github.com/repos/' + $json.full_name + '/secret-scanning/alerts?state=open&per_page=100'}}",
        "responseFormat": "json",
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $vars.GITHUB_PAT}}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "options": {
          "ignoreHttpStatusErrors": true
        }
      },
      "id": "http_alerts",
      "name": "GitHub - Secret Alerts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        960,
        320
      ]
    },
    {
      "parameters": {
        "functionCode": "// Normalize response. Do NOT persist any secret literals.\nconst repo = $item(0).$node['Split Array'].json.repo;\nconst fullName = $item(0).$node['Split Array'].json.full_name;\nconst repoUrl = $item(0).$node['Split Array'].json.html_url;\n\nconst statusCode = $json.statusCode ?? null;\nconst body = $json.body ?? $json;\n\n// When secret scanning isn't enabled/available, GitHub returns 404/403.\nif (statusCode === 404 || (body && body.message === 'Not Found')) {\n  return [{ json: { repo, full_name: fullName, repo_url: repoUrl, secret_alerts_open: 0, secret_scanning: 'not_enabled', checked_at: new Date().toISOString(), notes: '' } }];\n}\nif (statusCode === 403 || (body && body.message && String(body.message).includes('forbidden'))) {\n  return [{ json: { repo, full_name: fullName, repo_url: repoUrl, secret_alerts_open: 0, secret_scanning: 'forbidden', checked_at: new Date().toISOString(), notes: 'Check token scopes: repo or security_events (and repo settings).' } }];\n}\n\nconst alerts = Array.isArray(body) ? body : [];\nconst types = new Set();\nconst urls = [];\nfor (const a of alerts) {\n  if (a?.secret_type_display_name) types.add(a.secret_type_display_name);\n  if (a?.html_url) urls.push(a.html_url);\n}\n\nreturn [{ json: {\n  repo,\n  full_name: fullName,\n  repo_url: repoUrl,\n  secret_alerts_open: alerts.length,\n  secret_scanning: 'enabled',\n  secret_types: Array.from(types).slice(0, 20).join(', '),\n  alert_urls: urls.slice(0, 10).join(' '),\n  checked_at: new Date().toISOString(),\n  notes: alerts.length > 0 ? 'Review in GitHub Security tab (do not paste secrets in Sheets).' : ''\n}}];"
      },
      "id": "fn_norm",
      "name": "Normalize",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        1200,
        320
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "appendOrUpdate",
        "documentId": "={{$vars.SHEET_ID}}",
        "sheetName": "={{$vars.SHEET_SECRET_TAB || 'secret_scanning'}}",
        "keyColumn": "repo",
        "options": {}
      },
      "id": "sheets_upsert",
      "name": "Google Sheets - Upsert",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1450,
        320
      ]
    }
  ],
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "GitHub - List Repos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub - List Repos": {
      "main": [
        [
          {
            "node": "Split Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Array": {
      "main": [
        [
          {
            "node": "GitHub - Secret Alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub - Secret Alerts": {
      "main": [
        [
          {
            "node": "Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize": {
      "main": [
        [
          {
            "node": "Google Sheets - Upsert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}

